/* Reset global de margin y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Muy recomendable para que padding no afecte el ancho total */
}

:root{
    --primary-color : rgb(48, 140, 227);
    --alt-color: rgb(57, 73, 143);
    --alt-color-opacity : rgba(57, 73, 143, 0.6);
    --border-grey-color : rgba(92, 92, 92, 0.623);
    --background-card-color: rgb(18, 20, 23);
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section{
    max-width: 100vw;
    min-height: calc(100vh - 64px);
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin-top: 64px;
}

/*---------------------------HEADER COMPONENT---------------------------*/
header{
    width: 100%;
    /*border: 1px solid blue;*/
    height: 64px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 20
}

/*---------------------------HOME COMPONENT---------------------------*/

.home-container{
    width: 70%;
    border: 4px solid var(--border-grey-color);
    display: flex;
    border-radius: 32px;
    transition: all 1s ease;
    animation: breathe 5s ease-in-out infinite;
    background-color: var(--background-card-color);
    box-shadow: 0 0 20px 1px var(--primary-color);
}

.home-container:hover{
    border-color: var(--primary-color);
    box-shadow: 0 0 20px 5px var(--primary-color);
}

.home-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.img-container{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid var(--alt-color-opacity);
    box-shadow: 0 0 250px 5px var(--primary-color);
}

.img-container > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}

.img-container:hover > img{
    width: 110%;
}

.home-info-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 4rem;
    gap: 8px;
}

.home-info-name{
    font-weight: 700;
    color: var(--primary-color);
    font-size: 6.4rem;
    margin: 0;
}

.name-info {
    font-size: 5.8rem;
    margin: 0;
    background: linear-gradient(90deg, white 0%, var(--primary-color) 55%, var(--primary-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.desc{
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: rgb(124, 124, 124);
}

.desc > span{
    font-size: 2rem;
}

.extra-text{
    color: rgba(124, 124, 124, 0.7);
    font-size: 1.2rem;
    margin: 0;
}

.home-info-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0;
    
}

.info-btn{
    display: flex;
    width: 40%;
    border: 2px solid var(--primary-color);
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 4px;
    color: white;
    background-color: black;
    box-shadow: 0 0 20px 2px var(--alt-color-opacity);
}

.info-btn-text{
    font-weight: 700;
    font-size: 1.6rem;
}

.contact-btn{
    background: linear-gradient(90deg, var(--primary-color) 25%, rgba(255, 255, 255, 0.822) 60%, var(--primary-color));
    background-size: 200% auto;
    transition: all 0.5s ease;
}

.contact-btn:hover{
    background-position: right center;
}

.cv-btn{
    border-color: rgba(124, 124, 124, 0.7);
    transition: all 0.4s ease-out;
}

.cv-btn:hover{
    transform: rotate(2deg);
}

/*---------------------------PROJECT COMPONENTS---------------------------*/

#projects{
    flex-direction: column;
    gap: 64px;
    padding-bottom: 64px;
}

.section-title-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}

.section-title{
    font-size: 6.4rem;
    color: var(--primary-color);
}

.projects-cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: flex-start;
    gap: 32px;
}

/*---------------------------SKILLS COMPONENT---------------------------*/

#skills{
    flex-direction: column;
    gap: 96px;
}

.skills-card-container{
    display: flex;
    width: 70%;
    gap: 32px;
    
}

/*---------------------------CONTACT COMPONENT---------------------------*/
#contact{
    flex-direction: column;
}

.contact-cards-section{
    display: flex;
    width: 70%;
    gap: 40px;
    height: 80vh;
}

.form-container{
    background-color: var(--background-card-color);
    display: flex;
    flex-direction: column;
    outline: 2px solid var(--alt-color-opacity);
    transition: all 0.4s ease-out;
    flex: 1;
    padding: 16px 0;
    border-radius: 32px;
    box-shadow: 0 0 64px 3px var(--primary-color);
}

.form-container:hover{
    transform: scale(1.02);
}

.form-title-container{
    display: flex;
    gap: 24px;
    height: 10%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 16px;
}

.form-title-icon{
    height: 100%;
    aspect-ratio: 1/1;
    height: 75%;
    aspect-ratio: 1/1;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.form-title{
    font-size: 4rem;
    color: var(--primary-color);
}

.contact-cards{
    /*border: 1px solid black;*/
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-info-card{
    outline: 2px solid var(--alt-color-opacity);
    border-radius: 32px;
    flex: 2 1 0;
    max-height: 50%;
    background-color: var(--background-card-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-info-title{
    color: var(--primary-color);
    font-size: 4rem;
}

.contact-info-list{
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 24px;
    height: auto;
}

.contact-info-list-items{
    display: flex;
    gap: 16px;
}

.contact-icon-container{
    box-shadow: 0 0 20px 2px var(--alt-color-opacity);
    color: white;
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--alt-color-opacity);
    transition: all 0.4s ease-out;
}

.contact-icon-container:hover{
    transform: scale(1.2);
    background-color: var(--alt-color-opacity);
}

.contact-info{
    color: white;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-card{
    outline: 2px solid var(--alt-color-opacity);
    transition: all 0.4s ease-out;
    flex: 1 1 0;
    box-sizing: border-box;
    background-color: var(--background-card-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 32px;
}

.disponibility-card{
    outline: 2px solid var(--alt-color-opacity);
    transition: all 0.4s ease-out;
    flex: 1 1 0;
    box-sizing: border-box;
    border-radius: 32px;
    background-color: var(--background-card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

.disponibility-card h4{
    color: var(--primary-color);
}

.disponibility-card p{
    color: rgb(124, 124, 124);
}

.status-dot{
    height: 24px;
    aspect-ratio: 1/1;
    background-color: #22c55e;
    margin-bottom: 12px;
    border-radius: 50%;
    position: relative
}

.status-dot::after{
    content: "";
    position: absolute;
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #22c55e;
    inset: 0;
    animation: pulse 0.8s infinite;
}

.card-hover:hover{
    outline: 3px solid var(--primary-color);
}

/*---------------------------KEYFRAMES---------------------------*/

@keyframes breathe {
    0%{
        transform: translateY(0px);
    }
    33%{
        transform: translatey(5px);
    }
    66%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes pulse{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(2.5);
        opacity: 0;
    }
}
