

/*-----------------------------------NAME PLATE STYLES-----------------------------------*/

.name-plate{
    /*flex-direction: row;*/
    display: flex;
    /*border: 1px solid black;*/
    width: 200px;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 900;
    font-size: 18px;
    color: var(--primary-color);
}

.name-capital{
    background-color: var(--primary-color);
    height: 64%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

/*-----------------------------------NAV BAR STYLES-----------------------------------*/

.navBar{
    height: 100%;
}

.navBar-list{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0;
}

.navBar-list_item{
    list-style-type: none;
    font-weight: 600;
    color: white;
    padding: 8px;
    border-radius: 16px;
    transition: all 0.2s ease-in;
    user-select:none;
}

.navBar-list_item:hover{
    background-color: white;
    color: var(--primary-color);
    transform: rotate(3deg);
}

/*-----------------------------------SOCIAL PLATE STYLES-----------------------------------*/

.social-media-section{
    display: flex;
    gap: 32px;
}

.social-icon-container{
    border: 1px solid var(--alt-color-opacity);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: black;
    border-radius: 16px;
    box-shadow: 0 0 10px 2px var(--alt-color-opacity);
    transition: all 0.4s ease-out;
}

.social-icon-container:hover{
    transform: scale(1.3);
    background-color: var(--alt-color-opacity);
}

/*-----------------------------------PROJECT CARDS STYLES-----------------------------------*/

.project-card{
    border: 2px solid var(--alt-color-opacity);
    height: 55vh;
    flex: 1 1 calc(33.3% - 32px);
    max-width: calc(33.3% - 32px);
    border-radius: 24px;
    overflow: hidden;
    /*background-color: var(--background-card-color);*/
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 16px 0 16px;
}

.card-img-container{
    /*border: 1px solid black;*/
    height: 40%;
    overflow: hidden;
}

.card-img{
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-title{
    font-size: 2.4rem;
    color: var(--primary-color);
}

.card-desc{
    color: rgb(124, 124, 124);;
    font-size: 1.6rem;
}

.card-tech-stack-container{
    display: flex;
    gap: 8px;
    font-size: 1.4rem;
}

.card-tech{
    border: 2px solid var(--alt-color-opacity);
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 4px 12px;
}

.card-a-container{
    padding: 16px 0;
    display: flex;
    justify-content: space-around;
}

.card-a{
    border: 1px solid var(--alt-color-opacity);
    padding: 6px 16px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
}